/* Style for the container */
.img{
    
    height: 100%; 
    width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0; /* Change as needed */
    padding: 10px;
 
  }
  
  /* Style for the links */
  .container a {
    text-decoration: none;
    color: #333; /* Link color */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .container a:hover {
    background-color: #ccc; /* Hover background color */
  }
  
  /* Style for the router-outlet */
  router-outlet {
    margin-top: 20px; /* Add spacing */
    border: 1px solid #ccc; /* Example border */
    padding: 20px; /* Example padding */
  }
  